.categories-show {
  > .grid-list {
    > .wrapper {
      > .item {
        > .category {
          display: none;
        }
      }
    }
  }
}

.categories-index,
.categories-show {
  border-top: 1px solid $color-main;
  padding-top: $grid;

  > header {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: $grid*2;

    @include respond-to(medium) {
      margin-bottom: $grid*3;
    }

    > h1 {
      font-size: 1rem;
      line-height: 1rem;
      text-transform: uppercase;
      width: 100%;
      margin-bottom: $grid;

      @include respond-to(medium) {
        width: 50%;
      }
    }

    > p {
      margin-top: 0;
      width: 100%;

      @include respond-to(medium) {
        width: 50%;
        padding-left: $grid;
        max-width: 900px;
      }

      &.categories {
        text-transform: uppercase;

        > .category {
          display: inline-block;

          width: 100%;
          margin-bottom: $grid/5;

          > a {
            &:hover {
              opacity: .5;
            }
          }
        }
      }
    }
  }
}
