.contributor-show {
	> header {
		display: flex;
		flex-wrap: wrap;

		border-top: 1px solid $color-main;
		border-bottom: 1px solid $color-main;
		padding: $grid*2 0;
		margin-bottom: $grid;

		@include respond-to(medium) {
			padding: $grid*4 0;
		}

		> .image-container {
			width: 100%;
			margin-bottom: $grid;

			@include respond-to(medium) {
				width: 25%;
				margin-right: 5%;
				margin-bottom: 0;
			}

			> .image {
				position: relative;

				background: $color-grey-light;
				height: 0;
				width: 100%;

				> .wrapper {
					position: absolute;

					width: 100%;
				  height: auto;

				  > img {
						display: block;

						width: 100%;
					}
				}
			}
		}

		> .info {
			width: 100%;

			@include respond-to(medium) {
				width: 50%;
			}

			> h1 {
				text-transform: uppercase;
				line-height: 1rem;
				font-size: 1rem;
				margin-bottom: $grid/4;
			}

			> p {
				max-width: 600px;

				> a {
					text-decoration: underline;
				}
			}

			> .bio {
				margin-bottom: 0;
			}
		}
	}

	> .posts {
		> h2 {
			text-transform: uppercase;
			font-size: 1rem;
			line-height: 1;
			text-align: center;
			margin-bottom: $grid;

			@include respond-to(medium) {
				margin-bottom: $grid*2;
			}
		}
	}
}

.contributors-index {
	border-top: 1px solid $color-main;
  padding-top: $grid*2;

	@include respond-to(medium) {
		padding-top: $grid/2;
	}

  > header {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: $grid*2;

    @include respond-to(medium) {
      margin-bottom: $grid*3;
    }

    > h1 {
      font-size: 1rem;
      line-height: 1rem;
      text-transform: uppercase;
      width: 100%;
      margin-bottom: $grid;

      @include respond-to(medium) {
        width: 50%;
      }
    }

    > p {
      margin-top: 0;
      width: 100%;

      @include respond-to(medium) {
        width: 50%;
        padding-left: $grid;
        max-width: 900px;
      }
    }
  }

  > ul {
  	width: 100%;
		max-width: $sizeL;
		margin: 0 auto;

  	> li {
  		&:last-child > a {
				border-bottom: 0;
				padding-bottom: 0;
			}

  		> a {
  			display: flex;
				flex-wrap: wrap;

				border-bottom: 1px solid $color-main;
				padding-bottom: $grid*2;
				margin-bottom: $grid*2;

				@include respond-to(medium) {
					padding-bottom: $grid*4;
					margin-bottom: $grid*4;
				}

  			> .image-container {
					width: 100%;
					margin-bottom: $grid;

					@include respond-to(medium) {
						width: 25%;
						margin-right: 5%;
						margin-bottom: 0;
					}

					> .image {
						position: relative;

						background: $color-grey-light;
						height: 0;
						width: 100%;

						> .wrapper {
							position: absolute;

							width: 100%;
						  height: auto;

						  > img {
								display: block;

								width: 100%;
							}
						}
					}
				}

				> .info {
					width: 100%;

					@include respond-to(medium) {
						width: 50%;
					}

					> h1 {
						text-transform: uppercase;
						line-height: 1rem;
						font-size: 1rem;
						margin-bottom: $grid/4;
					}

					> p {
						max-width: 600px;

						> a {
							text-decoration: underline;
						}
					}

					> .bio {
						margin-bottom: 0;
					}
				}
  		}
  	}
  }
}
