.header-assembly {
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	background: white;
	padding: $grid/4*3 $grid/2;

	> .small-logo {
		position: absolute;
    left: $grid/2;

    width: 20px;

    @include respond-to(medium) {
			top: $grid/4;
		}

    > img {
    	display: block;

    	width: 100%;
    }
	}

	> .mobile-menu-button {
		margin-left: $grid/2*3;

		@include respond-to(medium) {
			display: none;
		}
	}

	> .menu-mobile {
		display: none;
	}

	> .desktop-menu {
		display: none;

		@include respond-to(medium) {
			display: flex;

			position: absolute;
	    left: 50%;
	    top: 10px;
		}

		> a {
			text-decoration: underline;
			margin-right: $grid/2;
		}
	}

	> .lang {
    @include respond-to(medium) {
			position: absolute;
	    right: 10px;
	    top: 10px;
		}

		> .active {
			color: $color-red;
		}

		> a {
			text-decoration: underline;
		}
	}
}
