.homepage {
	> .logo-big {
		margin: auto;
    margin-bottom: 80px;
    margin-top: 90px;

    @include respond-to(medium) {
    	position: fixed;
	    top: 120px;
	    margin: 0;
	    left: 0;
	    width: 50%;
	    padding: 0 30px;
    }

		> img {
			display: block;

			width: 100%;
			margin: auto;
	    max-width: 600px;
		}
	}

	> div {
		@include respond-to(medium) {
    	padding-left: 50%;
    	padding-top: $grid*6;
    }

		> .short-description {

		}
	}
}
