html, body {
  height: 100%;
  font-size: 16px;
}

body {
  background: $color-bg;
  color: $color-main;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  .notice,
  .alert {
    margin: 0;
  }

  > .content {
    padding: 0 $grid/4*3;
    padding-top: 111px;
    font-size: 1.3rem;

    @include respond-to(medium) {
      padding-top: 196px;
    }
  }
}

.body-wrapper {
  flex: 1 0 auto;
  padding: $grid/4*3;
}

.medium-zoom-image--opened {
  z-index: 99999999;
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 9999999;
}

a {
  color: $color-main;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover, a:active, a:focus {
  outline: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
