.news-new-homepage {
	width: 100%;
	max-width: $sizeL;
	margin: 0 auto;
	margin-bottom: $grid*3;

	@include respond-to(medium) {
		margin-bottom: $grid*6;
  }

  > h2 {
  	border-bottom: 1px solid $color-main;
  	margin-bottom: $grid;
  	padding-bottom: $grid/2;

  	> a:hover {
			opacity: .5;
		}
  }

  > .wrapper {
  	display: flex;
  	flex-wrap: wrap;

  	> .item {
  		border-bottom: 1px solid $color-main;
  		padding-bottom: $grid/2;
  		width: 100%;
  		margin-bottom: $grid/2;
  		text-indent: $grid;

  		@include respond-to(large) {
  			border: 0;
  			border-right: 1px solid $color-main;
  			margin-bottom: 0;
				width: 25%;
				padding: 0 $grid;
		  }

		  &:last-child {
  			margin-bottom: 0;
  			border: 0;
  		}

  		&:first-child {
  			padding-left: 0;
  			padding-right: $grid;
  		}

		  &:hover {
				> .title {
					opacity: .5;
				}
			}
  	}
  }
}

.news {
	width: 100%;
	max-width: $sizeL;
	margin: 0 auto;
	margin-bottom: $grid*3;
	margin-top: $grid*2;

  @include respond-to(medium) {
    margin-top: 0;
		margin-bottom: $grid*6;
  }

	> h2 {
		text-transform: uppercase;

		@include respond-to(medium) {
			padding-left: $grid*2;
		}
	}

	> .wrapper {
		> .item {
			display: flex;

			border-bottom: 1px solid $color-main;
			width: 100%;
			padding: $grid/2 0;

			&:last-child {
				border: 0;
			}

			&:hover {
				> .date,
				> .title {
					opacity: .5;
				}
			}

			> .date,
			> .title {
				display: inline-block;
			}

			> .date {
				min-width: $grid/2*7;

				@include respond-to(medium) {
					margin-right: $grid/2*3;
				}
			}
		}
	}
}
