.share-buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin-bottom: $grid*3;

	@include respond-to(medium) {
		margin-bottom: $grid*4;
	}

	> h4 {
		font-size: 1rem;
		line-height: 1rem;
		text-transform: uppercase;
		margin: 0;
		padding-right: $grid/2;
	}

	> button {
		padding-right: $grid/2!important;
		line-height: 1rem;

		&:hover {
			opacity: .5;
		}
	}
}
