.subscribe-index {
  border-top: 1px solid $color-main;
  padding-top: $grid;

  > .subscribe {
    padding: $grid*2 0;

    @include respond-to(medium) {
      padding: $grid*4 0;
    }

    @include respond-to(large) {
      max-width: $sizeL;
    }
  }
}

.subscribe {
  font-size: 1.2rem;
  line-height: 1.4rem;
  width: 100%;
	max-width: $sizeL + $grid*2;
	margin: 0 auto;
	margin-bottom: $grid*2;

	@include respond-to(medium) {
		margin-bottom: $grid*3;
		padding: 0 $grid;
	}

  > #subscribe-mc {
    margin-bottom: $grid;

    > form {
      display: flex;

      position: relative;

      border-bottom: 1px solid $color-main;

      > .bg {
      	position: absolute;
      	z-index: -1;

      	content: '';
      	// background: $color-orange;
      	// opacity: .3;
      	height: 100%; width: 100%;
      }

      > input {
      	background: transparent;
        border: 0;
        padding: $grid/2 0;
        width: 100%;
        font-size: 1.5rem;

			  @include respond-to(medium) {
			  	font-size: 2.5rem;
			  }

			  &:-webkit-autofill::first-line {
			  	font-family: $accent-font-family;
			  	font-size: 1.5rem;
				  @include respond-to(medium) {
				  	font-size: 2.5rem;
				  }
			  }
      }

      > button {
        background: transparent;
        border: 0;
        padding: 0 $grid/2;
        font-size: .8rem;

        @include respond-to(medium) {
        	font-size: 1.8rem;
        	padding: 0;
        }

        &:hover {
          opacity: .5;
          color: $color-main;
        }
      }

      > .msg-alert {
        position: absolute;
        bottom: -$grid/4*5;

        font-size: .8rem;

        > p {
          margin-bottom: 0;
        }
      }
    }
  }
}
