<meta content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1' name='viewport'>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/favicon.ico">
<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='@easteastmag'>
<meta property="og:type" content="website">
<meta property="og:site_name" content="EastEast">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-title" content="EastEast">
