html {
  font-size: 14px;

  &:before {
    content: '';

    position: fixed;
    top: -500px; left: 0;

    background: $color-main;
    background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);

    width: 100%;
    height: 500px;
  }
}

body {
  color: $color-main;
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 400;
  hyphens: auto;
  line-height: 1.35;
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  .notice,
  .alert {
    margin: 0;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1,
h2,
h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1rem;
}

iframe {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

a {
  color: $color-main;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: 0;
}

img {
  display: block;
}

.post_contributors {
  span {
    display: block;

    &:hover {
      cursor: move;
    }
  }
}

.page-wrapper {
  padding: $grid;
}

.admin-menu {
  width: 120px;
  margin-bottom: $grid*2;

  @include respond-to(large) {
    position: fixed;
    left: $grid; top: $grid;

    font-size: 1.2rem;
    width: auto;
  }

  li {
    margin-bottom: $grid/4;
  }

  a:hover,
  .active {
    opacity: .5;
  }
}

.row {
  @include respond-to(large) {
    margin-left: 160px;
  }

  .form-group {
    margin-bottom: $grid;
  }

  &.fixed-header {
    margin-top: $grid*5;

    h5 {
      position: fixed;
      top: 0;

      border-bottom: 1px solid $color-main;
      background: white;
      padding: $grid 0;
      width: 100%;
    }
  }
}

label {
  display: block;

  margin-bottom: $grid/4;
}

.form-group-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.form-group-actions {
  position: fixed;
  right: $grid; top: 12px;

  input {
    margin-left: $grid;

    display: inline-block;

    border: 1px solid $color-main;
    padding: $grid/2 $grid;
    margin-bottom: $grid*2;
    font-size: 1rem;

    &:hover {
      background: $color-main;
      color: white;
    }
  }
}

.notice,
.alert {
  position: fixed;

  top: 0; left: 0;
  width: 100%;
  text-align: center;
  padding: $grid/2;

  &.hide {
    display: none;
  }

  &:empty {
    display: none;
  }
}

.notice {
  background: black;
  color: white;
}

.alert {
  background: red;
  color: white;
}

input[type=text],
textarea {
  padding: $grid/4;
  font-size: 1.2rem;
  border: 0;
  background: $color-grey;
  width: 100%;
  max-width: 800px;
}

input[type=date],
textarea {
  padding: $grid/4;
  font-size: 1.2rem;
  border: 0;
  background: $color-grey;
}

input[type=checkbox] {
  margin-right: $grid/2;
}

h5 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 4rem;
}

textarea {
  min-height: 150px;
}

.ibox-tools a {
  display: inline-block;

  border: 1px solid $color-main;
  padding: $grid/2 $grid;
  margin-bottom: $grid*2;

  &:hover {
    background: $color-main;
    color: white;
  }
}

th {
  text-align: left;
  font-weight: normal;
  padding-bottom: $grid;
  padding-right: $grid;
}

.th-actions {
  min-width: 100px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

td {
  padding-bottom: $grid/2;
  padding-right: $grid;
}

.actions {
  a,
  form {
    display: inline-block;
  }

  a {
    margin-right: $grid;
  }
}

table {
  width: 100%;
  min-width: 900px;
}

.admin-table {
  td a {
    display: flex;
    flex-wrap: wrap;

    text-decoration: underline;

    > span {
      margin-right: $grid/4;
    }
  }
}
