.title = localized_attribute(@space, 'space').gsub("\n", "<br>").html_safe
.title = localized_attribute(@mission, 'mission').gsub("\n", "<br>").html_safe
.title = localized_attribute(@expert, 'expert').gsub("\n", "<br>").html_safe
.title = localized_attribute(@team, 'team').gsub("\n", "<br>").html_safe
