td = localized_attribute(@space, 'space').html_safe
td = localized_attribute(@mission, 'mission').html_safe
td = localized_attribute(@expert, 'expert').html_safe
td = localized_attribute(@team, 'team').html_safe
